{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row">
    <div class="col-12 text-center questions-title">
        <h1>About SkillScribe.</h1>
        <p><i>Be the STAR of your experience.</i></p>
    </div>
</div>
<div class="row text-center about-content">
    <div class="col-sm-8">
        <p>SkillScribe is a new work experience management web application that provide you with a fast and effective way to record and review day to day work experience following the S.T.A.R format, which encourages you to highlight the <i>Situation, Task, Action </i>and <i>Result</i> of your experience. To assist you further, each personalised entry is based on one of the many currently available and ever-growing list of behavioural interview questions you may encounter in an interview. This helps towards curating a personalised database of experience that can be effectively communicated in an interview setting with little need for prior revision. 
        </p>
    </div>
</div>


{% endblock %}