{% extends 'base.html' %} {% load crispy_forms_filters %} {% load crispy_forms_tags %} {% block content %}
<div class="row">
    <div class="col-12 text-center questions-title">
        <h1>Password Reset</h1>
    </div>
</div>
<div class="row text-center">
    <div class="col-5 mx-auto">
        <p>Enter the email associated with your account to change your password.</p>
        <form method="POST">
            {% csrf_token %}
            <div class="col-12 password-reset-form">
                {{ form|crispy }}
            </div>
            <input type="submit" value="Reset Password" class="btn btn-primary">
        </form>
    </div>
</div>


{% endblock %}