{% extends 'base.html' %} {% load crispy_forms_filters %} {% load crispy_forms_tags %} {% block content %}
<div class="row">
    <div class="col-12 text-center questions-title">
        <h1>Password Reset Sent</h1>
    </div>
</div>
<div class="row text-center">
    <div class="col-5 mx-auto">
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. </p>
        <p>If you don't receive an email, please make sure you've entered the addreess you registered with, and check your spam folder.</p>
    </div>
</div>


{% endblock %}