{% extends 'base.html' %} {% load crispy_forms_filters %} {% load crispy_forms_tags %} {% block content %}
<div class="row">
    <div class="col-12 text-center questions-title">
        <h1>Profile Page</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://cdn.pixabay.com/photo/2018/04/18/18/56/user-3331257_1280.png"
                        class="rounded-circle p-1 bg-primary profile-img" width="110">
                    <div class="mt-3">
                        <h4>{{ user.first_name }} {{user.last_name }}</h4>
                        <hr>
                        <h4><i>{{user.username}}</i></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <form action="{% url 'edit_profile'%}" class="edit-profile-form" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">First Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Last Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Username</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ form.username|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-5">
                            <input type="submit" class="btn btn-primary profile-save-btn" value="Save Changes">
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-profile">
                                Delete Profile
                              </button>
                              <!-- Delete Account Modal -->
                            <div class="modal fade" id="delete-profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Delete Profile</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    <p>You are about to delete your profile. If you continue, all personal entries and account information will be deleted and cannot be retrieved.</p>
                                    Are you sure you want to delete your profile?
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" class="btn btn-danger"><a href="{% url 'delete_profile' %}" class="modal-delete-btn">Yes, delete it.</a></button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}