/* Index page styling */
body {
    background-color: #f0f2f5;
}

.index-row{
    margin-top:15vh;
    text-align: center;
    justify-content: center
}

.login-div{
    background-color: white;
    border-radius: 10px;
    box-shadow: 20px 20px 50px grey;
    min-width: 20vw;
}
@media screen and (max-width: 767px) { 
    .login-div{
        background-color: transparent;
        box-shadow: none;
    }
}

.login-form input{
    width:50%;
    padding:8px;
    border-radius: 6px;
    border: 1px solid grey;
    min-width: 100%;
}

input.login-submit-button{
    background-color: #1877f2;
    color:white;
    font-weight: 600;
    margin:8px 0px 2px 0px;
}

.register-button{
    border: none;
    border-radius: 6px;
    background-color: #42b72a;
    color:white;
    font-weight: 600;
    margin:5px 0px 10px 0px;
    min-width: 100%;
    padding: 8px;
}

.register-button:hover  {
    border: 2px solid #42b72a;
    color: #42b72a;
}
.title-text {
    font-size:45px;
    padding: 2vh 0 2vh 0;
}

/* Index page styling end */


/* Register page styling */
.login-button{
    border: none;
    border-radius: 6px;
    background-color: #1877f2;
    color:white;
    font-weight: 600;
    margin:5px 0px 10px 0px;
    min-width: 100%;
    padding: 8px;
}

.login-button:hover  {
    border: 2px solid #1877f2;
    color: #1877f2;
}

input.register-submit-button{
    background-color: #42b72a;
    color:white;
    font-weight: 600;
    margin:8px 0px 2px 0px;
}

.register-form input{
    width:50%;
    padding:8px;
    border-radius: 6px;
    border: 1px solid grey;
    min-width: 100%;
}

/* Register page styling end */


/* Questions page styling */
.questions-title {
    margin:2vh 0 2vh 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.category-name {
    font-weight: 500;
}

.fixed-category-list {
    position: fixed;
    border-radius: 8px;
    padding: 5px;
}

.question-content {  
    /* margin: 2vh 0 2vh 0; */
    padding: 2vh 0 2vh 0;
}


.category-dropdown {
    margin-top: 5px;
    margin-bottom: 5px;
    position: fixed;
}

.question-div {
    margin: 1vh 0 1vh 0;
}

/* Questions page styling end */

/* Add Entry page styling */

.add-entry-button{
    width:auto;
    padding:5px;
    background-color: #42b72a;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.char-limit-div {
    float:right;
}

/* Add Entry page styling end */

/* My Entries page styling */

.modal-delete-btn { 
    text-decoration:none;
    color: white;
}

.accordion-body p{
    word-break: break-all;
}
/* My Entryes page styling end */