{% extends 'base.html' %} {% load static %} {% block content %}
<div class="row">
    <div class="col-12 text-center questions-title">
        <h1>Browse Questions.</h1>
    </div>
</div>

<!-- Category Dropdown Selection -->
<div class="row">
    <div class="col-10 mx-auto category-dropdown" id="category-dropdown">
        <select class="form-select" id="dropdown-selection" aria-label="">
            <option selected value="reset">Select a category</option>
            {% for category in categories %}
            <option value="{{category.name}}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<!-- End of Category Dropdown Selection -->

<!-- Category Side Panel -->
<div class="row">
    <div class="col-lg-3 col-md-4 category-column" id="category-column">
        <div class="fixed-category-list text-center">
            <h4>Categories</h4>
            <div class="list-group">
                {% for category in categories %}
                <a href="#{{category.name}}" class="list-group-item list-group-item-action">
                    {{ category.name }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End of Category Side Panel -->

    <div class="col-lg-9 col-md-8">
    {% for category in categories %}
        <div class="row question-content" id="content-top">
            <p class="category-name" id="{{ category.name }}">{{ category.name }}</p>
            {% for question in category.behaviouralquestion_set.all %}
            <div class="col-sm-9 question-div"> 
            <p>{{ question.title }}</p>
            </div>
            <div class="col-sm-3 question-div">
                <!-- <a href="{% url 'add_entry' question.id %}" class="add-entry-button">Add Entry</a> -->
                <a href="{% url 'add_entry' question.id %}" class=" btn btn-primary px-4 add-entry-button">Add Entry</a>
            </div>
            {% endfor %}
            <br>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}